---
title: Typo International Design Talks Stuff
---

<p><img src="/assets/img/work/proj-1/img1.jpg" alt="Typo International" /></p>

<p>TYPO: International Design Talks is an annual event held in Berlin, London, and San Francisco. This promotional project is developed to market the event for the designindustry. The use of patterns, sophisticated color scheme and typography are applied for the print and mobile application.</p>

<iframe src="http://gitam.1host.co.il/bankhapoalim/63851/ynet/970x250/63851_asakimktanim10_970x250.html" width="970" height="250" scrolling="no" frameborder="0"></iframe>
<img src="{{ site.baseurl }}/assets/img/post-assets/banners-content/banner03.jpg" alt="ליצוף">
