$gray:                  #9e9e9f
$light-gray:            #b4b0b6
$lighter-gray:          #7d7a7e
$light-orange:          #fbb03b
$orange:                #f7921e
$purple:                #6d339e
$gra-purple:            rgba(138, 94, 183, 0.57)
$dark-purple:           #200f2f
$abilities-section-bg:  #512675
$skin:                  #e8c4b5




//gradients
$grad-about:          ellipse at calc(50% - 155px) 25.5%, rgba(158, 94, 213, 0.1) 1%, rgba(158, 94, 213, 0.9) 8%, rgba(160, 96, 216, 0.15) 28%, rgba(73, 33, 116, 0.78) 44%, rgba(73, 33, 116, 0.94) 51%

$grad-flame1:         $gra-purple, rgba(255, 255, 255, 0) 4%, $gra-purple 11%
$grad-flame2:         $gra-purple, rgba(255, 255, 255, 0) 8%, $gra-purple 15%
$grad-flame3:         $gra-purple, rgba(255, 255, 255, 0) 6%, $gra-purple 18%
$grad-flame4:         $gra-purple, rgba(255, 255, 255, 0) 2%, $gra-purple 22%
$grad-flame5:         $gra-purple, rgba(255, 255, 255, 0) 18%, $gra-purple 38%
$grad-flame6:         $gra-purple, rgba(255, 255, 255, 0) 8%, $gra-purple 30%
