$gray:                  #9e9e9f
$light-orange:          #fbb03b
$orange:                #f7921e
$purple:                #6d339e
$gra-purple:            rgba(138, 94, 183, 0.57)
$dark-purple:           #200f2f
$abilities-section-bg:  #512675




//gradients
