mixin nav-content()
  ul
    li: a(href="#abilities") יכולות
    li: a(href="#sites") אתרים
    li: a(href="#banners") באנרים
    li: a(href="#popups") פופ-אפ
    li: a(href="#graphics") גרפיקה ואיור
    li: a(href="#clients") לקוחות
    li: a(href="#footer") בקצרה


.mobile-nav
  +nav-content()

header
  .header-position
    a.logo-btn(href="#homepage")
      h1.logo Loragil-design

    nav.site-nav
      +nav-content()

    a(href="mailto:info@loragil.com").email-link contact

    .mobile-nav-toggle: span
