mixin nav-content()
  ul
    //- li: a(href="#abilities") יכולות
    li.mobile: a(href="#home") Top
    li: a(href="#sites") Websites
    li: a(href="#banners") Banners
    //- li: a(href="#popups") פופ-אפ
    li: a(href="#graphics") Graphics
    li: a(href="#clients") Clients
    li: a(href="#footer") About Me


.mobile-nav
  +nav-content()

header
  .header-position
    a.logo-btn(href="#homepage")
      h1.logo Loragil-design

    nav.site-nav
      +nav-content()

    a(href="mailto:info@loragil.com").email-link contact

    .mobile-nav-toggle: span
