section.about
  .flex.flex--center
  
    .col-1.push-left
      h2.home-title כל תכנון
      h2.home-title-bold מתחיל מחלום
      .logo-hr

      h4.home-title הי, שמי חזי,<br>
        מעצב אתרים עם יחס אישי
      p.home-info בניית אתרים רספונסיביים, איורים, אנימציה למצגות ובאנרים, לוגואים ועוד...
