section.abilities

  .flex.flex--center

    .col-3
      .home-lead-box
        .home-lead
          יכולות
        .small-lead-box
          .small-home-lead.orange-type
            ״הכל יחסי בחיים״
          .small-home-lead.shade-type
            אלברט איינשטיין


  .flex.flex--center
    .col-1.col-first
      .rocket-box
        .rocket
        h4 איור
        .flame

      .rocket-box
        .rocket
        h4 אנימציה
        .flame

      .rocket-box
        .rocket
        h4 תכנות
        .flame



    .col-1.col-last
      .rocket-box
        .rocket
        h4 דמיון
        .flame

      .rocket-box
        .rocket
        h4 חווית-לקוח
        .flame

      .rocket-box
        .rocket
        h4 כנות
        .flame
