section.abilities#abilities

  .flex.flex--center.dust-box-flex
    .dust-box


  .flex.flex--center.rocket-section
    .col-1.col-first
      .rocket-box
        .rocket
        h4 אנימציה

      .rocket-box
        .rocket
        h4 תכנות

      .rocket-box
        .rocket
        h4 איור



    .col-1.col-last
      .rocket-box
        .rocket
        h4 דמיון

      .rocket-box
        .rocket
        h4 חווית-לקוח

      .rocket-box
        .rocket
        h4 יושרה
        
    .flex.flex--center.home-lead-title

      .col-3
        .home-lead-box
          .home-lead
            יכולות
          .small-lead-box
            .small-home-lead.orange-type
              ״הכל יחסי בחיים״
            .small-home-lead.shade-type
              אלברט איינשטיין
