section.abilities.intro#abilities

  .col-3.logo-big-box
    .col-1.logo-big-box-pre
      .logo-box.logo-top.logo-desktop
        img(src='{{site.baseurl}}/assets/img/loragil-logo-white.png', alt='logo-loragil')
      .logo-box.logo-bottom.logo-desktop
        img(src='{{site.baseurl}}/assets/img/loragil-logo-white.png', alt='logo-loragil')
      .logo-box.logo-top.logo-mobile
        img(src='{{site.baseurl}}/assets/img/loragil-logo-white.png', alt='logo-loragil')
        
  .col-1.push-right.cta-frame
    .cta.sites-cta
      a(href="#sites").sites-cta-btn Sites
    .cta.contact-cta
      a(href="mailto:info@loragil.com").contact-cta-btn.email-link @
    .cta.gallery-cta
      a(href="#graphics").gallery-cta-btn Graphics
    
  
section.abilities.preview  
  .site-pre
    .site-pic
      .site-pic-box(style="background-image: url({{site.baseurl}}/assets/img/home-slider/site-view-otoglida.jpg);")
      .site-pic-box(style="background-image: url({{site.baseurl}}/assets/img/home-slider/site-view-iccm.jpg);")
      .site-pic-box.no-shade.img-cover(style="background-image: url({{site.baseurl}}/assets/img/home-slider/logo-and-card01.png);")
      .site-pic-box(style="background-image: url({{site.baseurl}}/assets/img/home-slider/site-view-litali.jpg);")
      .site-pic-box(style="background-image: url({{site.baseurl}}/assets/img/home-slider/site-view-eipa.jpg);")
      .site-pic-box.img-cover(style="background-image: url({{site.baseurl}}/assets/img/home-slider/logo-and-card06.jpg);")
      .site-pic-box(style="background-image: url({{site.baseurl}}/assets/img/home-slider/site-view-remer.jpg);")
      
