section.sites-view


  .flex.flex--center.home-lead-title

    .col-3
      .home-lead-box
        .home-lead
          אתרים
        .small-lead-box
          .small-home-lead.orange-type
            אפשרויות צפייה:
          .view-wide
            דסקטופ
          .view-hr
          .view-mobile
            פלאפון

        .switch
          input#cmn-toggle-1.cmn-toggle.cmn-toggle-round(type='checkbox')
          label(for='cmn-toggle-1')

  .hands-box
    .sites-box-frame
      .site-info
