.about-pic-cover

section.about#homepage
  .flex.flex--center

    .col-1.push-right
      h2.home-title כל תכנון
      h2.home-title-bold מתחיל מחלום
      //.logo-hr

      h4.home-title עיצוב ✦ בניית אתרים ✦ תכנות 
      div.logo-type LORAGIL 
        span DESIGN
      h4.home-title חזי.מעצב#בונה-אתרים
      p.home-info ביצועים: בניית אתרים רספונסיביים, איורים, אנימציה למצגות ובאנרים, לוגואים ועוד;
