section.sites-view#sites


  .flex.flex--center.home-lead-title

    .col-3
      .home-lead-box
        .home-lead
          אתרים
        .small-lead-box
          .small-home-lead.orange-type
            אפשרויות צפייה:
          .view-wide.butt-on
            דסקטופ
          .view-hr
          .view-mobile
            פלאפון

        .switch
          input#cmn-toggle-1.cmn-toggle.cmn-toggle-round(type='checkbox')
          label(for='cmn-toggle-1')


  .hands-box
    .sites-box-frame
      .sites-box-view

    .caro-text-bg





    ul.ul-caro
     | {% for post in site.categories.home-carousel %}
     li.caro-thumb(style='background-image: url({{site.baseurl}}/assets/img/post-assets/post-carousel/{{post.thumb}});' , data-cover='url({{site.baseurl}}/assets/img/post-assets/site-view/{{post.cover}})', data-mobilecover='url({{site.baseurl}}/assets/img/post-assets/site-view/{{post.mobile-cover}})', title='{{post.title}}', data-color='{{post.color}}', data-height='{{post.height}}', link='{{post.url}}')
       .sites-box-info
         .site-view-mobile
          img(src='{{site.baseurl}}/assets/img/post-assets/site-view/{{post.mobile-cover}}', alt='{{post.title}}')
         h2.site-info-title {{post.title}}
         p.site-excerpt {{post.excerpt}}
         a.site-link(href='{{post.site-link}}', target='_blank') ביקור באתר...
     |   {% endfor %}
