.about-pic-cover

section.about#homepage
  .flex.flex--center

    .col-1.push-right.logo-title
      .logo-title-box
        h2.home-title From vision
        h2.home-title-bold To reality
      //.logo-hr
      .logo-type-etc
        div.logo-type LORAGIL 
          span DESIGN
        h4.home-title.title-bullets.my-name Website design & development
        
      //h4.home-title.title-bullets עיצוב ✦ בניית אתרים ✦ תכנות
      
      //h4.home-title.title-bullets.my-name חזי.מעצב#בונה-אתרים
      //- p.home-info ביצועים: עיצוב ובניית אתרים רספונסיביים,<br>באנרים, איורים, אנימציה למצגות,<br>לוגואים ועוד;
      
    //- .col-1.logo-big-box-pre
    
    //- .col-1.push-right.logo-title
    //-   .logo-title-box
    //-     h2.home-title כל תכנון
    //-     h2.home-title-bold מתחיל מחלום
