

  <gwd-genericad id="gwd-ad">
    <div is="gwd-pagedeck" class="gwd-page-container" id="pagedeck" data-gwd-offset-top="0px" data-gwd-offset-left="0px">
      <div is="gwd-page" id="page1" class="gwd-page-wrapper gwd-page-size gwd-lightbox gwd-div-1prh" data-gwd-width="100%" data-gwd-height="100%" expanded="">
        <div class="gwd-page-content gwd-page-size">
          <div class="gwd-animation-event event-1-animation" data-event-name="event-1" data-event-time="3700"></div>
          <div class="gwd-div-r6d5 gwd-div-1ri7"></div>
          <div class="gwd-div-r6d5 gwd-div-13ol"></div>
          <div class="gwd-div-1o0q" data-gwd-group="banner-elements">
      <img is="gwd-image" source="svg-logo-anim-orange.svg" class="gwd-img-17yi gwd-grp-1mpt" data-gwd-grp-id="logo-anim-left">
      <img is="gwd-image" source="svg-logo-anim-purple.svg" class="gwd-img-1u08 gwd-grp-1mpt" data-gwd-grp-id="logo-anim-right">
      <div class="gwd-div-x0iw gwd-grp-1mpt" data-gwd-group="title-anim" data-gwd-grp-id="title-anim">
      <div class="gwd-grp-2sp9 gwd-div-fc1g">
        <div data-gwd-motion-path-node="x" class="gwd-motion-path-1qxh-anim-x"><div data-gwd-motion-path-node="y" class="gwd-motion-path-1qxh-anim-y"><div data-gwd-motion-path-node="theta" class="gwd-motion-path-1qxh-anim-theta"><p class="gwd-p-bkrq gwd-p-1ge3 gwd-gen-7oiegwdanimation gwd-grp-2sp9 gwd-p-1lfs gwd-gen-4qcfgwdanimation" data-gwd-grp-id="a" style="left: 0px; top: 0px; width: 100%; height: 100%;">A</p></div></div></div>
        <p class="gwd-p-bkrq gwd-p-1ge3 gwd-gen-7oiegwdanimation gwd-grp-2sp9 gwd-p-l5wq gwd-gen-ilwogwdanimation" data-gwd-grp-id="n">N</p>
        <p class="gwd-grp-2sp9 gwd-p-w79y gwd-gen-uwjfgwdanimation">I</p>
        <p class="gwd-grp-2sp9 gwd-p-1lj9 gwd-p-1vjd gwd-gen-rdi8gwdanimation">M</p>
        <p class="gwd-p-1lj9 gwd-grp-2sp9 gwd-p-svv2 gwd-p-qjoh gwd-gen-17t6gwdanimation">A</p>
        <p class="gwd-p-1lj9 gwd-p-svv2 gwd-grp-2sp9 gwd-p-jpkz gwd-p-1lni gwd-gen-gpu2gwdanimation">T</p>
        <p class="gwd-p-1lj9 gwd-p-svv2 gwd-p-jpkz gwd-grp-2sp9 gwd-p-15es gwd-p-gkhq gwd-gen-1ys7gwdanimation" data-gwd-grp-id="I">I</p>
        <p class="gwd-p-1lj9 gwd-p-svv2 gwd-p-jpkz gwd-p-15es gwd-grp-2sp9 gwd-p-6y3a gwd-p-1rmg gwd-gen-kietgwdanimation" data-gwd-grp-id="O">O</p>
        <p class="gwd-p-1lj9 gwd-p-svv2 gwd-p-jpkz gwd-p-15es gwd-p-6y3a gwd-grp-2sp9 gwd-p-rxhf gwd-p-1bjv gwd-gen-1sq3gwdanimation" data-gwd-grp-id="N">N</p>
        <p class="gwd-p-1lj9 gwd-p-svv2 gwd-p-jpkz gwd-p-15es gwd-p-6y3a gwd-p-rxhf gwd-grp-2sp9 gwd-p-73hq gwd-gen-1olhgwdanimation" data-gwd-grp-id="S">S</p>
      </div>
    </div>
    </div>
        </div>
      </div>
    </div>
  </gwd-genericad>
  <script type="text/javascript" id="gwd-init-code">
    (function() {
      var gwdAd = document.getElementById('gwd-ad');

      /**
       * Handles the DOMContentLoaded event. The DOMContentLoaded event is
       * fired when the document has been completely loaded and parsed.
       */
      function handleDomContentLoaded(event) {

      }

      /**
       * Handles the WebComponentsReady event. This event is fired when all
       * custom elements have been registered and upgraded.
       */
      function handleWebComponentsReady(event) {
        // Start the Ad lifecycle.
        setTimeout(function() {
          gwdAd.initAd();
        }, 0);
      }

      /**
       * Handles the event that is dispatched after the Ad has been
       * initialized and before the default page of the Ad is shown.
       */
      function handleAdInitialized(event) {}

      window.addEventListener('DOMContentLoaded',
        handleDomContentLoaded, false);
      window.addEventListener('WebComponentsReady',
        handleWebComponentsReady, false);
      window.addEventListener('adinitialized',
        handleAdInitialized, false);
    })();
  </script>
<h1 class="cc">dddds</h1>
