<section class="graphics" id="graphics">
  <div class="flex flex--center home-lead-title">
    <div class="home-lead-box">
      <div class="small-logo"></div>
      <div class="big-and-small-title">
        <div class="home-lead">
        <div class="title-move">
          גרפיקה ואיור
        </div>

        </div>
        <div class="small-lead-box">
          <div class="small-home-lead orange-type">עיצוב לוגו, הזמנות, כרטיסי ביקור ועוד...</div>
        </div>

      </div>

    </div>
  </div>

</section>
