<section id="abilities" class="abilities"><div class="col-3 logo-big-box"><div class="col-1 logo-big-box-pre"><div class="logo-box logo-top"><img src="{{site.baseurl}}/assets/img/loragil-logo-trans.svg" alt="bubble"/></div><div class="logo-box logo-bottom"><img src="{{site.baseurl}}/assets/img/loragil-logo-white.svg" alt="bubble"/></div></div></div><div class="site-pre"><div class="site-pic"><div class="site-pic-box"><img src="{{site.baseurl}}/assets/img/post-assets/site-view/site-view-wide-otoglida.jpg" alt="bubble" class="site-pic-roll"/></div></div>




</div></section>