<section class="home-footer" id="footer">
  <div class="me-footer">
  </div>
  <div class="flex flex--center">
    <div class="col-1">
      <div class="home-lead-box">
        <div class="big-and-small-title">
          <div class="home-lead">
          <div class="title-move">
            בקצרה
          </div>

          </div>
          <div class="small-lead-box">
            <div class="small-home-lead orange-type">כמה שורות על עצמי</div>
          </div>


          </div>
            <p>
              שלום, שמי חזי, למדתי עיצוב בשנקר, מאז ומתמיד אמנות העיצוב זורמת בעורקיי ולכן ברגע שסיימתי ללמוד טסתי לניו יורק ולסן-פרנסיסקו כדי לספוג אומנות אמיתית ולא רק דרך הצג או מכרכים מאובקים בספריה.
            </p>
            <p>
              כשחזרתי לארץ עבדתי בחברות שונות כמעצב אינטראקטיב. כישוריי כוללים עבודה באופן שוטף על תוכנות עיצוב גרפי, איור דמויות והנפשה, עיצוב תפאורות פיזיות להדמיות מיוחדות ועוד...
            </p>
        </div>
      </div>
      <div class="col-1 footer-card">
        <div class="sign-off">
          <h5>
            חזי בן-דוד
          </h5><br>
          <h5>
            מעצב אינטראקטיב
          </h5>
          <div class="footer-logo-name">
            {% include icons/loragil-logo.html %}oragil.com
          </div>
          <div class="bullets">
            אתרים ● באנרים ● מצגות ● לוגואים ועוד...
          </div>

        </div>

      </div>
  </div>
  <div class="inner-shadow">
    <a class="flex flex--center mailto" href="mailto:info@loragil.com" >
      info@loragil.com

    </a>

    <a class="flex flex--center face-butt" href="https://www.facebook.com/hezi.b.david" target="_blank" >
      <img src="{{ site.baseurl }}/assets/img/face-butt.png" alt="הפייסבוק שלי">
    </a>
  </div>


</section>
