<section class="graphics" id="graphics">
  <div class="flex flex--center home-lead-title">
    <div class="home-lead-box">
      <div class="small-logo"></div>
      <div class="big-and-small-title">
        <div class="home-lead">
        <div class="title-move">
          גרפיקה ואיור
        </div>

        </div>
        <div class="small-lead-box">
          <div class="small-home-lead orange-type">עיצוב לוגו, הזמנות, כרטיסי ביקור ועוד...</div>
        </div>

      </div>

    </div>
  </div>

  <div class="flex flex--center graphics-box">

    <ul class="thumb-botts-box">

      <li class="thumb-bott" data-color="green">כרטיסי ביקור<span>●</span>לוגו/סמליל</li>
      <li class="thumb-bott" data-color="blue">איור</li>
      <li class="thumb-bott" data-color="yellow">פרסומות והדמיות</li>
      <li class="thumb-bott" data-color="red">איפור ואביזרים</li>

      <div class="thumb-view" data-orig-color="#ea4c89"></div>

    </ul>


  </div>


</section>
