<section class="home-footer" id="footer">
  <div class="me-footer">
  </div>
  <div class="flex flex--center">
    <div class="col-2">
      <div class="home-lead-box">
        <div class="big-and-small-title">
          <div class="home-lead">
          <div class="title-move">
            Background
          </div>

          </div>
          <!-- <div class="small-lead-box">
            <div class="small-home-lead orange-type">כמה שורות על עצמי</div>
          </div> -->


          </div>
          <div class="footer-about">
            <p>
              Hello, my name is Hezi. Art has always been a big and significant part of my life.
            </p>
            <p>
              I have worked in various companies as a designer of ux & ui and have gained a lot of experience (in the blood of sweat and virtual tears) in building websites, banners, logos for projects in the network and publications in print.
            </p>
            <p>I'd love to make new contacts with people whose vision is to create something
                <span class="loragil">
                unusual
                </span>
            </p>
          </div>
        </div>
      </div>

  </div>
  <div class="inner-shadow">
    <div class="flex flex--center">
      <div class="cta">
        <h3>Contact Click</h3>
        <span>👇🏼
        </span>
      </div>
    </div>
    <a class="flex flex--center mailto" href="mailto:info@loragil.com" >
      info@loragil.com

    </a>

    <a class="flex flex--center face-butt" href="https://www.facebook.com/hezi.b.david" target="_blank" >
      <img src="{{ site.baseurl }}/assets/img/face-butt.png" alt="הפייסבוק שלי">
    </a>
  </div>


</section>
