<section class="clients" id="clients">


  <div class="flex flex--center home-lead-title">
    <div class="col-1">
      <div class="home-lead-box">
        <div class="home-lead">Clients</div>
        <div class="small-lead-box">
          <div class="small-home-lead orange-type">& Comments...</div>
        </div>
      </div>
      <div class="clients-logos-box">
        <div class="client-logo-butt">

        </div>
      </div>
      <ul class="clients-logos-box">
        {% for post in site.categories.best-clients %}
          <li class="client-logo-butt" style='width: {{post.width}}; '>
            <a href="{{post.site-link}}" class="client-logo-link" target="_blank">
              <img class="client-logo" src="{{site.baseurl}}/assets/img/clients/{{post.logo-off}}" alt="{{post.title}}" />
              <img class="client-logo" src="{{site.baseurl}}/assets/img/clients/{{post.logo-on}}" alt="{{post.title}}" />
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
    <!-- <div class="clients-hr"></div> -->
    <div class="col-1 col-comments">
      <div class="one-time slider">

        {% for post in site.categories.comments %}
        <a href="{{post.site-link}}" class="client-logo-link" target="_blank">
        <div class="client-comment">

              <div class="client-jeneral-info">

                  <div class="client-exc">{{post.excerpt}}</div>
                  <div class="client-res-about">{{post.response-about}}</div>

              </div>

            <div class="client-pic-info">
              <img src="{{ site.baseurl }}/assets/img/clients/comments/{{post.pic-name}}" alt="{{post.title}}">
              {{post.content}}
            </div>
        </div>
        </a>
        {% endfor %}

      </div>

      <div class="cta">
        <h4>
          Interested in
        </h4>
        <div class="one-time-faster slider ">

          <div>
            a Site
          </div>
          <div>
            a Banner
          </div>
          <div>
            a Logo
          </div>
          <div>
            Business Card
          </div>

        </div>
        <h4 class="price">
          And want to know what the cost?
Me too! so Let's get out of the <span>bubble</span> box and find out together...
        </h4>
        <a class="e-mail-thmb" href="mailto:info@loragil.com">@</a>
      </div>
      <div class="wolking-man">
        <img src="{{ site.baseurl }}/assets/img/wolking-man.png" alt="wolking man">
      </div>



    </div>
  </div>

  <div class="clients-bottom"></div>




</section>
