<section class="graphics" id="graphics">
  {% include finger-test.svg %}
  <div class="logo-graphics-bg-fixed">
    <div class="bg-fixed"></div>
  </div>
  <div class="flex flex--center home-lead-title">
    <div class="home-lead-box">
      <div class="big-and-small-title">
        <div class="home-lead">
          Graphics<span class="small-logo"></span>more

        </div>
        <!-- <div class="small-lead-box">
          <div class="small-home-lead orange-type">עיצוב לוגו, הזמנות, כרטיסי ביקור ועוד...</div>
        </div> -->

      </div>

    </div>
  </div>

  <div class="flex flex--center graphics-box">
    <div class="logo-graphics-wrapper">
      <div class="logo-graphics-bg">
        <div class="big-logo-top-view graphics-box-butt">



          <div class="thumb-bott">
            <div class="thumb-print"></div>
            <a href="{{site.baseurl}}/assets/img/draw/draw01.jpg" class="pics-box thumb-bott-title" data-lightbox="mask-set-draw" data-title="איור בצבעים אקריליים על שקף">Illustration</a>
            <a href="{{site.baseurl}}/assets/img/draw/draw02.jpg" class="pics-box" data-lightbox="mask-set-draw" data-title="איור בצבעים אקריליים על שקף">לצפיה בתמונות</a>
            <a href="{{site.baseurl}}/assets/img/draw/draw03.jpg" class="pics-box" data-lightbox="mask-set-draw" data-title="איור בצבעים אקריליים על שקף">לצפיה בתמונות</a>
            <a href="{{site.baseurl}}/assets/img/draw/draw04.jpg" class="pics-box" data-lightbox="mask-set-draw" data-title="איור בצבעים אקריליים על שקף">לצפיה בתמונות</a>
            <a href="{{site.baseurl}}/assets/img/draw/draw05.jpg" class="pics-box" data-lightbox="mask-set-draw" data-title="איור בצבעים אקריליים">לצפיה בתמונות</a>
            <a href="{{site.baseurl}}/assets/img/draw/draw06.jpg" class="pics-box" data-lightbox="mask-set-draw" data-title="איור בפחם">לצפיה בתמונות</a>
          </div>

        </div>
        <div class="big-logo-left-view"></div>
        <div class="big-logo-left-view-shade graphics-box-butt">

          <div class="thumb-bott" >
            <div class="thumb-print"></div>
            <a href="{{site.baseurl}}/assets/img/web/web01.jpg" class="pics-box thumb-bott-title" data-lightbox="mask-set-ads" data-title="עמוד ראשי לעמוד תיירות בנגב"></a>
            <a href="{{site.baseurl}}/assets/img/web/web02.jpg" class="pics-box" data-lightbox="mask-set-ads" data-title="עמוד ראשי לעמוד תיירות בנגב">לצפיה בתמונות</a>
            <a href="{{site.baseurl}}/assets/img/web/web03.jpg" class="pics-box" data-lightbox="mask-set-ads" data-title="דף נחיתה לגליל">לצפיה בתמונות</a>
            <a href="{{site.baseurl}}/assets/img/web/web04.jpg" class="pics-box" data-lightbox="mask-set-ads" data-title="עמוד לייק בפייסבוק">לצפיה בתמונות</a>
            <a href="{{site.baseurl}}/assets/img/web/web05.jpg" class="pics-box" data-lightbox="mask-set-ads" data-title="פוסט לייק בפייסבוק">לצפיה בתמונות</a>
          </div>

        </div>
        <div class="big-logo-center"></div>
        <!-- <div class="big-logo-center-effect"></div> -->
        <div class="big-logo-center-shade graphics-box-butt">

          <div class="thumb-bott">
            <div class="thumb-print"></div>
            <a href="{{site.baseurl}}/assets/img/ads/ads05.jpg" class="pics-box thumb-bott-title" data-lightbox="mask-set-ads" data-title="הדמיית רכבים בשטח נופש ושטח בניה"></a>
            <a href="{{site.baseurl}}/assets/img/ads/ads04.jpg" class="pics-box" data-lightbox="mask-set-ads" data-title="דף נחיתה עם טופס">לצפיה בתמונות</a>
            <a href="{{site.baseurl}}/assets/img/ads/ads03.jpg" class="pics-box" data-lightbox="mask-set-ads" data-title="שלט חוצות למטרו מוטור">לצפיה בתמונות</a>
            <a href="{{site.baseurl}}/assets/img/ads/ads02.jpg" class="pics-box" data-lightbox="mask-set-ads" data-title="הדמיה למדבקה על רכב של ארנב אנרגיה">לצפיה בתמונות</a>
            <a href="{{site.baseurl}}/assets/img/ads/ads01.jpg" class="pics-box" data-lightbox="mask-set-ads" data-title="תמונת נושא של עמוד בפייסבוק">לצפיה בתמונות</a>
          </div>

        </div>
        <div class="big-logo-right-top"></div>
        <div class="big-logo-right-top-reflect graphics-box-butt">
          <div class="thumb-bott">
            <div class="thumb-print"></div>
            <a href="{{site.baseurl}}/assets/img/makeups/makeup01.jpg" class="pics-box thumb-bott-title" data-lightbox="mask-set-draw" data-title="איור על פנים"></a>
            <a href="{{site.baseurl}}/assets/img/makeups/makeup02.jpg" class="pics-box" data-lightbox="mask-set-draw" data-title="ג׳וקר, נעשה בתקופת הסרט ״האביר האפל״ לבקשת סינמה-סיטי">לצפיה בתמונות</a>
            <a href="{{site.baseurl}}/assets/img/makeups/makeup03.jpg" class="pics-box" data-lightbox="mask-set-draw" data-title="תחפושת של המחסל מ״שליחות-קטלנית״">לצפיה בתמונות</a>
            <a href="{{site.baseurl}}/assets/img/makeups/makeup04.jpg" class="pics-box" data-lightbox="mask-set-draw" data-title="תחפושת של המחסל מ״שליחות-קטלנית״">לצפיה בתמונות</a>
            <a href="{{site.baseurl}}/assets/img/makeups/makeup05.jpg" class="pics-box" data-lightbox="mask-set-draw" data-title="״הגובלין הירוק״ מספיידרמן">לצפיה בתמונות</a>
          </div>
        </div>
        <div class="big-logo-right-bottom"></div>
        <div class="big-logo-right-bottom-shade graphics-box-butt">
          <div class="thumb-bott">
            <div class="thumb-print clip-svg">



            </div>
            <a href="{{site.baseurl}}/assets/img/logo-and-cards/logo-and-card01.png" class="pics-box thumb-bott-title" data-lightbox="mask-set-logo-and-cards" data-title="לוגו למהנדס בנין - רמי שפירא"></a>
            <a href="{{site.baseurl}}/assets/img/logo-and-cards/logo-and-card10.jpg" class="pics-box" data-lightbox="mask-set-logo-and-cards" data-title="לוגו למחלקת מחלות זיהומיות בבי״ח וולפסון">לצפיה בתמונות</a>
            <a href="{{site.baseurl}}/assets/img/logo-and-cards/logo-and-card02.jpg" class="pics-box" data-lightbox="mask-set-logo-and-cards" data-title="עיצוב הזמנה לחינה">לצפיה בתמונות</a>
            <a href="{{site.baseurl}}/assets/img/logo-and-cards/logo-and-card03.jpg" class="pics-box" data-lightbox="mask-set-logo-and-cards" data-title="עיצוב הזמנה לחתונה">לצפיה בתמונות</a>
            <a href="{{site.baseurl}}/assets/img/logo-and-cards/logo-and-card04.jpg" class="pics-box" data-lightbox="mask-set-logo-and-cards" data-title="כרטיס ביקור למפיק סרטים">לצפיה בתמונות</a>
            <a href="{{site.baseurl}}/assets/img/logo-and-cards/logo-and-card05.jpg" class="pics-box" data-lightbox="mask-set-logo-and-cards" data-title="לוגו לעמוד נושא של ארגון בתחום הרפואה הסינית והיפנית">לצפיה בתמונות</a>
            <a href="{{site.baseurl}}/assets/img/logo-and-cards/logo-and-card06.jpg" class="pics-box" data-lightbox="mask-set-logo-and-cards" data-title="לוגו לעמוד פנימי בפייסבוק">לצפיה בתמונות</a>
            <a href="{{site.baseurl}}/assets/img/logo-and-cards/logo-and-card07.jpg" class="pics-box" data-lightbox="mask-set-logo-and-cards" data-title="לוגו לעמוד פנימי בפייסבוק">לצפיה בתמונות</a>
            <a href="{{site.baseurl}}/assets/img/logo-and-cards/logo-and-card08.jpg" class="pics-box" data-lightbox="mask-set-logo-and-cards" data-title="לוגו לעמוד פנימי בפייסבוק">לצפיה בתמונות</a>
            <a href="{{site.baseurl}}/assets/img/logo-and-cards/logo-and-card09.jpg" class="pics-box" data-lightbox="mask-set-logo-and-cards" data-title="שילוב בין לוגו קיים לאווירת חנוכה">לצפיה בתמונות</a>


          </div>
        </div>
      </div>




      <div class="logo-graphics-fixed">
        <div class="top-view-fixed">
          <div class="top-right-pics">
            <img src="{{site.baseurl}}/assets/img/draw/draw01.jpg" alt="רישום בעיפרון ופחם">
          </div>
          <div class="bottom-right-pics">
            <img src="{{site.baseurl}}/assets/img/draw/draw02.jpg" alt="ציור באקרילי">
          </div>
          <div class="bottom-left-pics">
            <img src="{{site.baseurl}}/assets/img/draw/draw03.jpg" alt="ציור באקרילי על שקף">
          </div>
          <div class="top-left-pics">
            <img src="{{site.baseurl}}/assets/img/draw/draw04.jpg" alt="ציור באקרילי על שקף">
          </div>

        </div>
        <div class="left-view-fixed">

          <div class="top-right-pics">
            <img src="{{site.baseurl}}/assets/img/web/web01.jpg" alt="עמוד מיתוג לתיירות בנגב">
          </div>
          <div class="bottom-right-pics">
            <img src="{{site.baseurl}}/assets/img/web/web03.jpg" alt="עמוד מיתוג לתיירות בנגב">
          </div>
          <div class="bottom-left-pics">
            <img src="{{site.baseurl}}/assets/img/web/web05.jpg" alt="פוסט לייק לעמוד גולשים">
          </div>
          <div class="top-left-pics">
            <img src="{{site.baseurl}}/assets/img/web/web04.jpg" alt="פוסט לייק לפייסבוק">
          </div>

        </div>
        <div class="center-view-fixed">

          <div class="top-right-pics">
            <img src="{{site.baseurl}}/assets/img/ads-net/ads-net01.jpg" alt="עיצוב עמוד בית עסקי למנשר">
          </div>
          <div class="bottom-right-pics">
            <img src="{{site.baseurl}}/assets/img/ads-net/ads-net02.jpg" alt="הדמיית מדבקה של החברה ״ארנב״">
          </div>
          <div class="bottom-left-pics">
            <img src="{{site.baseurl}}/assets/img/ads-net/ads-net03.jpg" alt="שלט חוצות מיתוגי למטרו מוטור">
          </div>
          <div class="top-left-pics">
            <img src="{{site.baseurl}}/assets/img/ads-net/ads-net04.jpg" alt="עמוד נחיתה עם טופס לאקרפוביץ׳">
          </div>

        </div>
        <div class="right-top-view-fixed">

          <div class="top-right-pics">
            <img src="{{site.baseurl}}/assets/img/makeups/makeup01.jpg" alt="עיצוב עמוד בית עסקי למנשר">
          </div>
          <div class="bottom-right-pics">
            <img src="{{site.baseurl}}/assets/img/makeups/makeup02.jpg" alt="עיצוב עמוד בית עסקי למנשר">
          </div>
          <div class="bottom-left-pics">
            <img src="{{site.baseurl}}/assets/img/makeups/makeup03.jpg" alt="עיצוב עמוד בית עסקי למנשר">
          </div>
          <div class="top-left-pics">
            <img src="{{site.baseurl}}/assets/img/makeups/makeup04.jpg" alt="עיצוב עמוד בית עסקי למנשר">
          </div>

        </div>
        <div class="right-bottom-view-fixed">

          <div class="top-right-pics">
            <img src="{{site.baseurl}}/assets/img/logo-and-cards/logo-and-card06.jpg" alt="עיצוב עמוד בית עסקי למנשר">
          </div>
          <div class="bottom-right-pics">
            <img src="{{site.baseurl}}/assets/img/logo-and-cards/logo-and-card02.jpg" alt="עיצוב עמוד בית עסקי למנשר">
          </div>
          <div class="bottom-left-pics">
            <img src="{{site.baseurl}}/assets/img/logo-and-cards/logo-and-card05.jpg" alt="עיצוב עמוד בית עסקי למנשר">
          </div>
          <div class="top-left-pics">
            <img src="{{site.baseurl}}/assets/img/logo-and-cards/logo-and-card10.jpg" alt="עיצוב עמוד בית עסקי למנשר">
          </div>

        </div>

      </div>


    </div>

    <div class="logo-graphics-bg-effects"></div>

    <div class="logo-graphics-bg-shade">
      <div class="logo-shade"></div>
    </div>

    <div class="clients-top"></div>

  </div>




</section>
