<section class="banners" id="banners">
  <div class="flex flex--center home-lead-title">
    <div class="col-2">
      <div class="home-lead-box">
        <div class="home-lead">
          <div class="small-logo"></div>
          <div class="title-move">
            באנרים
          </div>
          <div class="small-logo"></div>
        </div>
        <div class="small-lead-box">
          <div class="small-home-lead orange-type">ועכשיו נעבור לפיר-סו-מות...</div>
        </div>
      </div>
    </div>
  </div>

  <div class="banners-thumb-box">
    <div class="full-width-small-title">
      <p>הקלקה על הבאנר הנבחר תציגו במספר גדלים שונים</p>
    </div>

</section>

<section class="section-work">

  <div class="banners-thumb-box">
  {% for post in site.categories.home-banners-carousel %}
    <input type="radio" name="trigger" class="trigger" id="{{ post.folder }}" />
  {% endfor %}

  <input type="radio" name="trigger" id="return" class="return" />

  <div class="work-belt">

    <div class="thumb-wrap">
      <div class="thumb-container">
      {% for post in site.categories.home-banners-carousel %}
      <label for="{{ post.folder }}">
        <div class="thumb-unit" data-url="{{ post.url }}">
          <a href="{{ post.url }}">{{ post.title }}</a>
          <img src="{{ site.baseurl }}/assets/img/post-assets/banners-carousel/{{post.thumb}}" alt="{{post.title}}" />
        </div>
        <div class="thumb-overlay">
          <strong>{{post.title}}</strong>
          <span>{{post.excerpt}}</span>
        </div>
      </label>
      {% endfor %}
    </div>
    </div>

    <div class="work-wrap">
      <div class="work-container">
      <label for="return">
        <div class="work-return">{% include icons/icon-back.html %}</div>
      </label>
      <h4 class="project-title"></h4>
      <div class="project-load"></div>

      <noscript>
        {% for post in site.categories.home-banners-carousel %}
          <div class="noscript" id="content-{{ post.folder }}">
            <h4 class="project-title">{{ post.title }}</h4>
            <div class="noscript-load">

            </div>
          </div>
        {% endfor %}
      </noscript>

    </div>
    </div>

  </div>
  </div>
  <div class="full-width-small-title bottom">
    <div class="small-logo-gray"></div>
    <p>הבאנרים נבנו בפלאש והותאמו לHTML5</p>
    <div class="small-logo-gray"></div>
  </div>
</section>



<!-- test- -->
<section class="section-work">

  <div class="banners-thumb-box">
  {% for project in site.data.settings.projects %}
    <input type="radio" name="trigger" class="trigger" id="{{ project.folder }}" />
  {% endfor %}

  <input type="radio" name="trigger" id="return" class="return" />

  <div class="work-belt">

    <div class="thumb-wrap">
      <div class="thumb-container">
      {% for project in site.data.settings.projects %}
      <label for="{{ project.folder }}">
        <div class="thumb-unit" data-url="{{ site.github.url }}/work/{{ project.folder }}/">
          <img src="{{ site.github.url }}/assets/img/work/{{project.folder}}/thumb.jpg" alt="{{ project.name }}" />
        </div>
        <div class="thumb-overlay">
          <strong>{{ project.name }}</strong>
        </div>
      </label>
      {% endfor %}
    </div>
    </div>

    <div class="work-wrap">
      <div class="work-container">
      <label for="return">
        <div class="work-return">{% include icons/icon-back.html %}</div>
      </label>
      <h4 class="project-title"></h4>
      <div class="project-load"></div>

      <noscript>
        {% for project in site.data.settings.projects %}
          <div class="noscript" id="content-{{ project.folder }}">
            <h4 class="project-title">{{ project.name }}</h4>
            <div class="noscript-load">

            </div>
          </div>
        {% endfor %}
      </noscript>

    </div>
    </div>

  </div>
  </div>
  <div class="full-width-small-title bottom">
    <div class="small-logo-gray"></div>
    <p>הבאנרים נבנו בפלאש והותאמו לHTML5</p>
    <div class="small-logo-gray"></div>
  </div>
</section>
