$animation: '{{ site.data.layout.animation }}'
$logo-path: '{{ site.data.layout.logo }}'
$hero-path: '{{ site.data.layout.hero }}'
$avatar-path: '{{ site.data.layout.avatar }}'

$projects: '{% for project in site.data.settings.projects %} {{ project.folder }}, {% endfor %}'

//------------------------------------------------
// Set some colors as sass variables

// $accent: '{{ site.data.layout.accent }}'
$accent: #c99065
$accent-light: adjust-hue(saturate(lighten($accent, 11%), 12.6%), 14%)
$selectionColor: lighten($accent, 30%)

$textColor: '{{ site.data.layout.textColor }}'
$headlineColor: '{{ site.data.layout.headlineColor }}'
$bgcolor: '{{ site.data.layout.bgcolor }}'
$documentBackgroundColor: '{{ site.data.layout.documentBackgroundColor }}'



body
  font-family: 'Heebo', sans-serif
  //direction: rtl
  background:
    image: url(../img/loragil-bg-pattern.svg) !important
    position: top center
    color: rgba(255, 255, 255, 0)!important
    blend-mode: multiply !important
    attachment: fixed !important

  @media (max-width: 640px)
    background-image: none !important

  .home-wrap
    background-color: rgba(255, 255, 255, 0.5)!important

  +transition(all 0.4s $ease-in-out-sine)

  .landscape-only
    display: none

  .slick-slider
    direction: ltr

  iframe
    border: none

  img
    max-width: 100%
    height: auto

  .home-lead
    //letter-spacing: 32px
    //width: 262px
    line-height: 1
    text-align: left
    // @media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm)
    //     left: -32px
    //     position: relative
    .title-move
      position: relative

@media only screen and (min-width : 321px) and (max-device-width : 568px) and (orientation : landscape)
  body
    background:
      color: $purple !important

    .home-sections, .home-wrap .mobile-nav, header
      display: none

    .home-wrap
      display: flex
      flex-direction: column
      justify-content: center
      padding: 20px 50px
      //direction: rtl

    .landscape-only
      display: block
      text-align: center
