.home-sections section.banners
  background: rgba(247, 239, 255, 0.86)
  margin-bottom: 0
  padding-bottom: 0


  .home-lead-box
    display: flex
    flex-direction: column
    align-content: center
    align-items: center

  .home-lead
    width: 88%
    display: flex
    text-align: center
    align-items: flex-start
    color: $purple
    @media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm)
        left: 0
    .title-move
      position: relative
      right: -28px
      @media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm)
        right: 0

  .small-logo
    width: 92px
    background:
      image: url(../img/loragil-logo-nav.svg)
      repeat: no-repeat
      position: center
      size: contain
    height: 54px
    padding: 0
    margin: 5px 10px

    &:last-child
      margin-right: -18px

  .small-lead-box
    letter-spacing: 4.2px
    //margin-right: 83px
    margin-top: -23px
    @media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm)
      margin-right: 0

  .small-home-lead
    color: $orange

  .banners-thumb-box

    display: flex
    flex-direction: column
    align-items: center
    min-height: 900px
    position: relative

    .flash-bg
      position: absolute
      bottom: 50px
      border-radius: 5px
      overflow: hidden
      left: calc(50% - 203px)

      @media (max-width: 410px)

        max-width: 100%
        left: 0



.full-width-small-title
  width: 100%
  padding: 10px 0
  background: $light-gray
  margin:
    top: 40px
    bottom: 20px
  text-align: center

  p
    margin-bottom: 0
    text-shadow: 0 1px 1px rgba(213, 213, 213, 0.75)
    color: $lighter-gray
    letter-spacing: 2.8px

.full-width-small-title.bottom
  display: flex
  flex-direction: row
  align-items: center
  justify-content: center
  margin:
    top: 25px
    bottom: 20px

  p
    color: #fff
    font-weight: 500
    text-shadow: 0 2px 1px #777777
    letter-spacing: 5.2px

ul.ul-banners
  position: relative
  z-index: 10
  list-style: none
  background: none
  border: trarnsparent

  display: flex
  flex-direction: row
  justify-content: space-between
  flex-wrap: wrap
  max-width: 960px
  margin: 0
  padding:
    top: 10px
    bottom: 0
    right: 0
    //left: calc(50% - 380px)
    //right: calc(50% - 380px)

  box-sizing: border-box
  bottom: 0
  right: 0
  left: 0
  //height: 320px
  overflow: visible

  @media (max-width: 910px)
    justify-content: center

    li
      margin: 10px



.ul-banners
  li .tablinks 
    @media (max-width: 640px)
      background-image: url(../img/small-logo-gray.svg) !important
      background-size: 24px !important
      width: 36px !important
      height: 35px !important
      box-shadow: 0px 0px 0px 2px #e49d2d !important
      background: #fbb03b
      background-repeat: no-repeat
      background-blend-mode: luminosity
      background-position: center center
      border-radius: 5px
      img
        display: none !important

      &.thumb-on, &:hover
        box-shadow:  inset 0px 1px 10px 0px #815615 !important
    .caro-banner-thumb
      //position: absolute
      width: 143px
      height: 105px
      background-position: center
      background-size: cover
      cursor: pointer
      background:
        repeat: no-repeat
      background-blend-mode: luminosity
      border-radius: 2px
      border: solid 2px $lighter-gray
      margin: 4px
      box-sizing: border-box
      opacity: 0.7
      transition: all 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95)



      .tabcontent
        background: #fff
        padding: 20px
        min-width: 410px
        min-height: 410px

        img
          margin: auto
          display: flex


      &.thumb-on, &:hover
        box-shadow:  inset 0px 3px 10px 0px rgba(50, 50, 50, 0.75)
        opacity: 1
        transition: all 0.6s cubic-bezier(0.445, 0.05, 0.55, 0.95)

      &.thumb-on .sites-box-info

        +transition(all 0.5s $ease-in-out-sine)
        opacity: 1
        display: block

ul.banner-view
  list-style: none
  position: relative
  z-index: 10
  background: rgb(255, 255, 255)
  border-radius: 5px
  margin: 0 !important
  padding: 0 !important
  min-height: 400px
  margin-top: 30px !important



/* Style the list
//ul.tab
  list-style-type: none
  margin: 0
  padding: 0
  overflow: hidden
  border: 1px solid #ccc
  background-color: #f1f1f1

/* Float the list items side by side
ul.tab li
  float: left

/* Style the links inside the list items
//ul.tab li a
  display: inline-block
  color: black
  text-align: center
  padding: 14px 16px
  text-decoration: none
  transition: 0.3s
  font-size: 17px

/* Change background color of links on hover
//ul.tab li a:hover
  background-color: #ddd

/* Create an active/current tablink class
ul.tab li a:focus, .active
  //background-color: #ccc

/* Style the tab content
.tabcontent
  display: none
  padding: 6px 12px
  min-height: 366px
  padding-bottom: 20px
  //border: 1px solid #ccc
  //border-top: none

  h3
    text-align: center
    color: #c5c5c7
    font-weight: 300
    letter-spacing: 3px
