.home-sections section.abilities
  padding: 0
  background:
    color: $abilities-section-bg
  position: relative

  z-index: -1
  display: flex
  flex-direction: column
  align-items: center
  //justify-content: flex-end
  @extend .abilities-gra

  .logo-mobile
    display: none

  @media (min-width:769px) and (max-width: 940px)
    background: radial-gradient(ellipse at 50% -3%, rgba(76, 37, 113, 1) 0%, rgba(99, 48, 147, 0.95) 35%, rgba(99, 48, 147, 0.9) 38%, rgba(73, 33, 116, 0.95) 68%, rgba(67, 31, 103, 0.95) 100%);
    z-index: 0
  &.intro
    height: 79px
    margin-top: -10vh
    margin-bottom: -80px
    z-index: 20
    background: none

    @media (max-width: 640px)
      margin: 0
      height: 38.3vh
      padding: 0
      background-color: shade($purple, 30%)
      mix-blend-mode: multiply
      justify-content: flex-start
      align-items: center


      &::before
        position: absolute
        background: $purple
        mix-blend-mode: darken
        width: 100%
        height: 100%
        content: ''
        z-index: 0

      .col-3.logo-big-box
        top: -4px
        left: 6px
        max-width: 190px
        height: 110px
        display: none

        .logo-box
          height: auto !important
          display: none
          &.logo-mobile
            display: block
            left: -14px
            &.logo-top img
              top: 4px
            &.logo-bottom img
              top: 7px

      .col-1.push-right.cta-frame
        top: 0 !important
        width: 100% !important
        padding: 0 50px
        right: initial
        margin-top: 3px

        .cta.sites-cta
          clip-path: none

        .gallery-cta a
          padding: 10px 5px 10px

  &.preview
    box-shadow: 0 5px 9px -1px rgba(15, 7, 23, 0.48), 0 19px 18px -10px rgba(34, 16, 42, 0.45)
    border-bottom: solid 5px #8045be

    .slick-dotted.slick-slider
      margin-top: -70px


  .home-lead-title
    position: absolute
    top: 0
    right: 0
    left: 0
    background: rgba(94, 45, 141, 0.77)
    border-bottom: solid 1px rgba(85, 40, 131, 0.5)
    box-shadow: 0 7px 3px -1px rgba(61, 27, 93, 0.4)

  .rocket-section
    //flex-wrap: wrap
    width: 100%
    position: absolute
    top: 0
    right: 0
    left: 0
    z-index: -1

  .col-1
    display: flex
    flex-direction: row
    justify-content: space-between
    width: 100%

  .home-lead-box
    width: 400px
    display: flex
    float: left


    .home-lead
      position: relative
      color: $light-orange
      letter-spacing: 25px
      left: -20px
      @media (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm)
        left: -44px
    .small-lead-box
      margin-right: 35px

    .orange-type
      margin-top: 2px
      color: $light-orange

    .shade-type
      line-height: 0.5
      color: shade($purple, 60%)


    h4
      color: $light-orange
      font-weight: 400
      text-align: center
      display: flex
      flex-direction: column-reverse
      background-attachment: fixed
      padding: 0px 11px 18vh
      position: absolute
      bottom: 0
      margin-bottom: 0
      z-index: -1
      position: absolute
      border:
        top-right-radius: 30%
        top-left-radius: 30%


@media (max-width: 1100px)
  .home-sections section.abilities
    align-items: flex-start
    padding-left: 100px

@media (max-width: 768px) and (min-width: 641px)
  .home-sections section.abilities
    align-items: center
    padding: 0

    .col-1.push-right.cta-frame
      right: 38px !important


@media (max-width: 640px)
  .home-sections section.abilities
    z-index: 10
    height: calc(50vh + 20px)
    padding: 0
    align-items: center
    overflow: hidden
    margin-bottom: 10px

    .flex--center
      display: flex
      flex-direction: row
      flex-wrap: wrap

      .col-3
        overflow: hidden
      .col-1
        padding: 0 !important
        width: 50%

      .col-1 h4
        background-attachment: inherit !important
        z-index: -1
        background-size: 100%
        position: relative
        font-size: 90%
        top: -10px !important

      &.home-lead-title
        //zoom: 1
        padding-bottom: 0
        z-index: 10

        .home-lead
          letter-spacing: 15px
          left: 35px
          top: 0px
          position: relative
          @media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm)
            left: -42px
            letter-spacing: 12px


.home-sections section.abilities
  .site-pre
    position: relative

  .col-3.logo-big-box

    margin: 0
    position: relative
    display: flex
    height: -webkit-fill-available
    flex-direction: row
    top: -217px
    left: 20px

    .logo-big-box-pre
      max-width: 327px
      margin: 0
      position: relative
      left: 0
      z-index: 1000

      @media (max-width: 640px)
        height: 320px

      .logo-box
        +size(100%)
        position: absolute
        transform: translate(0px, 0%)
        img
          width: 100%

        &.logo-top
          z-index: 10
          img
            filter: $about-logo-shadow
            top: 2px
            position: relative
            right: -7px

        &.logo-bottom
          img
            transform: translateY(1px)
            z-index: 0
            top: 5px
            position: relative
            right: -6px

        @media (max-width: 640px)
          position: relative



.site-pre
  perspective: 114vh
  padding-top: 70px
  @media (max-width: 640px)
    padding-top: 0
  .site-pic, .slick-list.draggable
    width: 80vw
    max-width: 620px
    height: 60vh !important
    display: flex
    flex-direction: column
    .site-pre .site-pic



  .site-pic
    transform: rotateX(43deg)
    .site-pic-box, .slick-track>*
      +size(100%)
      box-shadow: inset 0 -2px 2px rgba(251, 176, 59, 0.24), 0 16px 14px -4px #301831
      border-bottom: 5px solid rgba(50, 23, 78, 0.43)
      background:
        position: center 0
        size: 100%
        repeat-x: no-repeat
        repeat-y: repeat

      &.no-shade
        box-shadow: inset 0 0 0 rgba(251, 176, 59, 0), 0 0 0 0 rgba(48, 24, 49, 0) !important
        border-bottom: none !important

      &.img-cover
        background-size: 100% !important
        background-position: center center !important
        background-repeat: no-repeat
        background-color: #fff

      img.site-pic-roll
        position: relative

.home-sections section.abilities
  .slick-prev:before, .slick-next:before
    opacity: 1
    color: $orange
    text-shadow: 0 3px 1px $dark-purple
  .slick-track
    height: calc(60vh + 11px)
    padding-bottom: 30px


// ---------cta------------

.home-sections section.abilities

  .cta
    transform: rotateX(49deg)
    height: 104px
    &.contact-cta
      flex: 1 1
      flex-wrap: wrap
      display: flex

    &.sites-cta
      flex: 2 1
      clip-path: polygon(20% 0%, 100% 0%, 100% 100%, 0% 100%)

    &.gallery-cta
      flex: 2 2
      a
        padding: 10px 5px 10px 15px

    a
      display: flex
      height: 100%
      width: 100%
      background: #fec463
      padding: 10px
      margin: 0
      align-items: center
      text-align: center
      justify-content: center
      font-weight: 500
      font-size: 18px
      line-height: 1.2
      box-shadow: inset 0 -2px 2px rgba(251, 176, 59, 0.24), 0 2px 2px -4px #301831
      border-bottom: 5px solid rgba(50, 23, 78, 0.43)
      @media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm)
        border-bottom: 4px solid rgba(50, 23, 78, 0.43)
      @include transition(all 100ms $ease-in-circ)
      &.contact-cta-btn
        +hide-text
        font-size: 0
        content: ""
        background:
          repeat: no-repeat
          position: center
          size: contain
          image: url(../img/08mail-logo.svg)
          color: #200f2f

      &:hover
        border-bottom: 2px solid rgba(50, 23, 78, 0.43)


.home-sections section.abilities .col-1.push-right.cta-frame
  flex-wrap: wrap
  perspective: 41vh
  width: 200px
  position: relative
  top: -53px
  width: 211px
  right: 38px

  @media (max-width: 1100px)
    right: 4px
