.home-sections section.sites-view
  //position: relative
  //display: flex
  //flex-direction: column
  //align-items: center
  padding-top: 0px
  background: rgba(230, 230, 230, 0.74)

  .home-lead-title
    position: relative
    z-index: 10
    height: 0
    top: 148px

    .home-lead-box
      width: 230px
      text-align: -webkit-left

      .switch
        margin-left: 10px
        margin-top: 10px

    .home-lead
      letter-spacing: 32px

    .small-lead-box
      display: flex
      letter-spacing: 0.8px

    .small-home-lead
      margin-left: 5px

    .view-hr
      background: #b7b7b7
      height: 15px
      width: 2px
      margin: 3px 7px

  .hands-box
    position: relative
    width: 100vw
    overflow: hidden
    height: 1146px
    //top: 58px
    margin-bottom: -50px
    display: flex
    align-items: center
    flex-direction: column

    &.wide
      transform: rotate(0deg)

    &.mobile
      transform: rotate(90deg)

    .hand-box
      width: 100%

  .sites-box-frame
    +transition(all 0.4s $ease-in-out-sine)
    overflow: auto
    width: 960px
    height: 540px
    //background-color: #b7b7b7
    margin: auto
    margin-top: 348px
    border: solid 1px $skin
    border-radius: 6px
    background:
      repeat: no-repeat
      size: cover
      position: left top



  .hands-box::before
    z-index: 1
    position: absolute
    top: 104px
    left: calc(50% + 250px)
    height: 405px
    width: 100%
    content: ""
    background:
      image: url(../img/r-hand.svg)
      repeat: no-repeat
      size: 720px
      position: left top

    +transition(all 0.4s $ease-in-out-sine)
    transform-origin: left

      //color: green

  .hands-box::after
    +transition(all 0.4s $ease-in-out-sine)
    transform-origin: right
    position: absolute
    z-index: 1
    bottom: -84px
    right: calc(50% + 260px)
    height: 519px
    width: 100%
    content: ""
    background:
      image: url(../img/l-hand.svg)
      repeat: no-repeat
      size: 697px
      position: right bottom
      //color: red

  .sites-box-view
    overflow: visible
    width: 960px
    min-height: 540px
    position: relative
    border-radius: 6px
    background:
      repeat: no-repeat
      size: cover
      position: center top

      //color: pink


ul.ul-caro
  position: relative
  z-index: 10
  list-style: none
  display: flex
  flex-direction: row
  justify-content: space-between
  width: 100%
  background: $light-orange
  margin: 0
  padding:
    top: 15px
    bottom: 15px
    left: calc(50% - 380px)
    right: calc(50% - 380px)

  box-sizing: border-box


  li.caro-thumb
    //position: absolute
    width: 134px
    height: 78px
    cursor: pointer
    background:
      repeat: no-repeat
    background-blend-mode: luminosity
    border-radius: 5px
    box-shadow: 2px 2px 8px 2px #f7921e
    box-sizing: border-box
    opacity: 0.7
    transition: all 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95)


    &.thumb-on, &:hover
      box-shadow:  inset 0px 3px 10px 0px rgba(50, 50, 50, 0.75)
      opacity: 1
      transition: all 0.6s cubic-bezier(0.445, 0.05, 0.55, 0.95)


//rotate to mobile----------------/////

.view-wide.butt-on
  color: $orange
  border-bottom: solid 2px $orange
  font-weight: 500

.view-mobile.butt-on
  color: $purple
  border-bottom: solid 2px $purple
  font-weight: 500


.home-sections section.sites-view .hands-box

  &.box-rotate
    &::before
      transform: rotate(86deg)
      top: -36px
      left: calc(50% + 228px)
      height: 823px
      width: 744px
      background-size: 1450px
      +transition(all 0.2s $ease-in-out-sine)

    &::after
      transform: rotate(81deg)
      bottom: -280px
      right: calc(50% + 316px)
      width: 932px
      background-size: 1407px
      height: 1050px
      +transition(all 0.2s $ease-in-out-sine)


    .sites-box-frame
      width: 255px
      height: 456px
      border-radius: 35px
      margin-top: 370px
      position: relative
      z-index: 10
      +transition(all 0.2s $ease-in-out-sine)
