.about-pic-cover
  position: absolute
  padding: 0
  height: 100vh
  width: 30vw
  right: 0
  pointer-events: none
  filter: drop-shadow(92px -18px 32px #200f2f)
  overflow: hidden
  @media (max-width: 640px)
    width: 78%
    top: 0
    overflow: hidden
  @media (min-width: 641px) and (max-width: 768px)
    width: 25vw
    background-position: top right
    height: 43vh
    background-size: 20vh
    transform: scaleX(-1)
    left: 0
    right: auto
    filter: drop-shadow(62px -18px 32px #200f2f)
    &::after
      bottom: -79vh !important

  @media (min-width:769px) and (max-width: 1000px)

    width: 37vw
    right: -35px

  // @media (min-width:871px) and (max-width: 1000px)
  //   overflow: hidden
  //   border-radius: 50%
  //   width: 0
  //   height: 0
  //   padding: 10vh
  //   background-position: top center
  //   right: 57px
  //   background-size: cover
  //   background-color: $orange
  //   top: 13px
  //   border-bottom: solid 1px $purple
  //   border-top: solid 1px shade($purple, 20%)
  //   filter: drop-shadow(92px -18px 32px rgba(32, 15, 47, 0))
  @media (min-width:1001px) and (max-width: 1100px)
    width: 36vw




  background:
    image: url(../img/loragil-about-pic.png)
    repeat: no-repeat
    position: top right
    size: contain

  &::after
    height: 300px
    width: 100vw
    position: absolute
    z-index: 10
    bottom: -200px
    @media (max-width: 1060px)
      bottom: -150px

    @media (max-width: 640px)
      @media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm)
        bottom: -620px
      bottom: -600px
      z-index: 100
      background-size: 340%
    margin-bottom: 70px
    content: ""
    background:
      // image: url(../img/abilities-bottom.png)
      repeat: no-repeat
      position: center
      size: auto


.home-sections section.about
  padding: 11px 0
  height: 49.3vh
  position: relative
  display: flex
  flex-direction: column
  justify-content: flex-start
  //background:
    image: url(../img/loragil-about-pic.png)
    repeat: no-repeat
    position: top right
    size: contain
  &::before
    position: absolute
    z-index: -1
    height: 100vh
    top: 0
    right: 0
    content: ""
    height: 49.3vh
    width: 100vw
    background:
      image: url(../img/loragil-bg-pattern2.svg)
      position: -21.7vw -24.2vh
      attachment: fixed

    @media (max-width: 640px)
      top: -70px
  //&::after
    position: absolute
    z-index: -1
    height: 77.3vh
    top: 0
    right: 0
    content: ""
    width: 100vw
    @extend .home-gra

  .flex.flex--center
    // background: rgba(255, 255, 255, 0.2)
    // padding: 20px
    // backdrop-filter: blur(5px)

  .col-1.push-right.logo-title
    padding: 0
    position: relative
    //z-index: -1
    display: flex
    flex-direction: column
    height: 36vh
    justify-content: center
    //padding-top: 10px

    @media (max-width: 1340px)
      margin-left: 278px
      //max-width: 260px
      margin-top: -18px

      h2
        font-size: 49px
        &.home-title-bold
          font-size: 47px
          letter-spacing: 1px
          margin-bottom: -5px

      .logo-type
        font-size: 32px
        letter-spacing: -0.4px

      h4.my-name
        letter-spacing: 1px
        margin-top: -9px
        font-size: 17px



    @media (max-width: 1170px)
      margin-left: 253px

      h2
        font-size: 45px
        &.home-title-bold
          font-size: 44px

      .logo-type
        font-size: 30px
      h4.my-name
        letter-spacing: 0.5px

    @media (min-width:1001px) and (max-width: 1100px)
      margin-top: -60px
      margin-left: 0px
      margin-right: -50px

    @media (min-width:769px) and (max-width: 1000px)
      margin-top: -53px
      margin-left: 0px
      margin-right: -50px







  h2
    color: $light-orange
    font-size: 52px
    margin: 0
    text-align: justify

    &.home-title
      font:
        weight: 100
      text-shadow: $text-shade
      //margin-top: 8vh
      margin-bottom: -11px
      letter-spacing: 1.5px
      font:
        family: 'Cabin Sketch', cursive
        size: 54px

    &.home-title-bold
      letter-spacing: 1px
      margin-bottom: -5px
      text-transform: uppercase
      font:
        weight: 700
        family: 'Quantico'

      text-shadow: 0 9px 8px rgba(109, 51, 158, 0.75)
      margin-bottom: -5px

  .logo-hr
    height: 90px
    width: 296px
    margin: -20px auto -30px
    background:
      image: url(../img/loragil-logo-hr.svg)
      repeat: no-repeat
      position: center
      size: cover

  h4
    text-shadow: $text-shade
    color: $light-orange
    text-align: center
    letter-spacing: -0.2px
    margin: 0 auto
    //display: inline
    font:
      size: 25.4px
      weight: 300

    &.title-bullets
      //background: #864fbd
      color: #4b2563
      text-shadow: 0 1px 1px #ab69ea

    &.my-name
      letter-spacing: 0.3px
      margin-top: -10px
      font-size: 20px
      font-weight: 500
      justify-content: space-evenly
      margin-left: -10px

  .logo-type
    font-family: 'Quantico'
    text-shadow: $text-shade
    color: $light-orange
    text-align: justify
    //letter-spacing: -0.4px
    margin: 10px auto 0
    font:
      size: 35px
      weight: 700

    @media (max-width: 640px)
      font-size: 35px
      text-align: center
      letter-spacing: 1px
    &:first-letter
      background:
        image: url(../img/loragil-logo.svg)
        position: 4px 0px
        size: contain
        repeat: no-repeat
      color: transparent
      text-shadow: none
      padding: 0 18px
      margin-left: -16px

      @media (max-width: 640px)
        padding: 0 18px
        margin-left: -7px
    span
      //font-weight: 300
      //-webkit-text-stroke: 1px shade($purple, 10%)
      letter-spacing: -2px
      padding-right: 4px

  p.home-info
    color: shade($purple, 20%)
    font-size: 16px
    margin-top: 10px
    margin-bottom: 27px
    position: relative
    line-height: 1.2
    padding: 10px 15px
    letter-spacing: -0.3px
    text-align: center

    &:before
      content: '{'
      position: absolute
      font-size: 60px
      top: 2px
      right: 0px

    &:after
      content: '}'
      position: absolute
      font-size: 60px
      left: 0
      top: 2px

.home-sections section.about

  @media (max-width: 840px) and (min-width: 769px)
    //padding: 30vh 0 0

    .flex--center

      .logo-type-etc
            transform: translate(0px, 0px) !important

  @media (max-width: 768px) and (min-width: 641px)
    .flex--center
      justify-content: center

      .col-1.push-right.logo-title
        justify-content: center
        margin-left: 250px


  @media (max-width: 640px)
    //height: calc(66.6vh - 68px)
    height: calc(61.6vh - 68px)
    padding: 0
    padding-top: calc(28.3vh - 68px)
    margin-bottom: 0
    margin-top: 68px
    // @media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm)
    //   margin-top: 62px
    &::after
      height: 100vh

    .flex--center
      .col-1.push-right.logo-title
        width: 100%
        margin: 0
        transform: none !important
        height: 33.3vh
        &>*
          z-index: 10
        &::before
          position: absolute
          background: $purple
          mix-blend-mode: multiply
          width: 100%
          height: 100%
          content: ''
          z-index: 0
          //padding: 0px 0 15px 430px
          box-sizing: border-box
          //justify-content: flex-start

        .my-name
          background: #fec463
          max-width: 300px
          margin: 0 auto !important
          padding: 5px 5px
          box-shadow: 0 2px 3px #333
          border-top: 1px solid shade($orange, 30%)


    h2, h4, p
      text-align: center
    h2.home-title
      margin-top: 0
      margin-bottom: -5px

    h4
      line-height: 1.2

    p.home-info
      margin-bottom: 10px
      font-size: 22px
      padding: 20px

      &:before, &:after
        font-size: 118px
        top: 2px
        font-weight: 300
        text-shadow: 0 1px 2px tint($purple, 30%)

      &:before
        right: -10px

      &:after
        left: -10px


    @media (max-width: 370px)
      h2
        font-size: 40px

  @media (min-width:769px) and (max-width: 940px)
    height: 62vh
    margin-bottom: 3px



    &::before
      height: 52.3vh

  @media (min-width:870x) and (max-width: 110px)
    height: 41vh
