.about-pic-cover
  position: absolute
  padding: 0
  height: 100vh
  width: 27vw
  right: 0
  pointer-events: none
  @media (max-width: 640px)
    width: 92%
    top: -66px
  @media (min-width: 641px) and (max-width: 768px)
    width: 25vw
    background-position: top right
    height: 43vh
    background-size: 20vh
    transform: scaleX(-1)
    left: 0
    right: auto
    &::after
      bottom: -79vh !important
  @media (min-width:769px) and (max-width: 1280px)
    width: 25vw
  @media (min-width:1281px) and (max-width: 1530px)
    width: 27vw



  background:
    image: url(../img/loragil-about-pic.png)
    repeat: no-repeat
    position: top right
    size: contain

  &::after
    height: 300px
    width: 100vw
    position: absolute
    z-index: 10
    bottom: -200px
    @media (max-width: 1060px)
      bottom: -150px

    @media (max-width: 640px)
      @media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm)
        bottom: -620px
      bottom: -600px
      z-index: 100
      background-size: 340%
    margin-bottom: 70px
    content: ""
    background:
      image: url(../img/abilities-bottom.png)
      repeat: no-repeat
      position: center
      size: auto


.home-sections section.about
  padding: 0
  height: 49.3vh
  position: relative
  display: flex
  flex-direction: column
  justify-content: flex-end
  //background:
    image: url(../img/loragil-about-pic.png)
    repeat: no-repeat
    position: top right
    size: contain
  &::before
    position: absolute
    z-index: -1
    height: 100vh
    top: 0
    right: 0
    content: ""
    height: 49.3vh
    width: 100vw
    background:
      image: url(../img/loragil-bg-pattern2.svg)
      position: top center

    @media (max-width: 640px)
      top: -70px
  &::after
    position: absolute
    z-index: -1
    height: 77.3vh
    top: 0
    right: 0
    content: ""
    width: 100vw
    @extend .home-gra

  .col-1.push-right
    padding: 0

  h2
    color: $light-orange
    font-size: 50px
    margin: 0
    text-align: justify

    &.home-title
      font:
        weight: 100
      text-shadow: $text-shade
      //margin-top: 8vh
      margin-bottom: -12px

    &.home-title-bold
      font:
        weight: 700
      text-shadow: 0 9px 8px rgba(109, 51, 158, 0.75)
      letter-spacing: 0.4px
      margin-bottom: -5px

  .logo-hr
    height: 90px
    width: 296px
    margin: -20px auto -30px
    background:
      image: url(../img/loragil-logo-hr.svg)
      repeat: no-repeat
      position: center
      size: cover

  h4
    text-shadow: $text-shade
    color: $light-orange
    text-align: center
    letter-spacing: -0.2px
    margin: 0 auto
    //display: inline
    font:
      size: 25.4px
      weight: 300

    &:nth-child(3)
      background: #864fbd

    &:nth-child(5)
      letter-spacing: 4px
      margin-bottom: -19px
  .logo-type
    font-family: 'Quantico'
    text-shadow: $text-shade
    color: $light-orange
    text-align: justify
    letter-spacing: -0.4px
    margin: 10px auto 6px
    font:
      size: 36px
      weight: 700

    @media (max-width: 640px)
      font-size: 35px
      text-align: center
      letter-spacing: 1px
    &:first-letter
      background:
        image: url(../img/loragil-logo.svg)
        position: 4px 0px
        size: contain
        repeat: no-repeat
      color: transparent
      text-shadow: none
      padding: 0 18px
      margin-left: -18px

      @media (max-width: 640px)
        padding: 0 18px
        margin-left: -7px
    span
      font-weight: 300
      -webkit-text-stroke: 1px shade($purple, 10%)
      letter-spacing: -2px
      padding-right: 4px

  p.home-info
    color: shade($purple, 20%)
    font-size: 16px
    margin-top: 10px
    margin-bottom: 27px
    position: relative
    line-height: 1.2
    padding: 10px 15px
    letter-spacing: -0.3px
    text-align: center

    &:before
      content: '{'
      position: absolute
      font-size: 60px
      top: 2px
      right: 0px

    &:after
      content: '}'
      position: absolute
      font-size: 60px
      left: 0
      top: 2px

.home-sections section.about
  @media (max-width: 1313px)
    //height: 49.3vh

  @media (max-width: 1060px)
    height: 43vh

  @media (max-width: 640px)
    height: calc(100vh - 80px)
    padding: 158px 0 0
    margin-bottom: 0
    margin-top: 68px
    @media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm)
      margin-top: 62px
    &::after
      height: 100vh

    .flex--center
      background: rgba(126, 67, 184, 0.91)
      padding: 0px 25px 15px
      box-sizing: border-box
    h2, h4, p
      text-align: center
    h2.home-title
      margin-top: 0
      margin-bottom: -5px

    h4
      line-height: 1.2

    p.home-info
      margin-bottom: 10px
      font-size: 22px
      padding: 20px

      &:before, &:after
        font-size: 118px
        top: 2px
        font-weight: 300
        text-shadow: 0 1px 2px tint($purple, 30%)

      &:before
        right: -10px

      &:after
        left: -10px


    @media (max-width: 370px)
      h2
        font-size: 40px
