// section.clients .clients-hr
//     border-left: solid 2px #ffffff
//     border-right: solid 2px #e2e0e4
//     height: inherit
//     width: 0px
//     content: ''
//     position: relative
//     right: -4px
//     position: relative
//     z-index: -1
//
//     @media (max-width: 640px)
//       display: none

.home-sections section.clients
  //background: rgba(249, 249, 249, 0.8)
  padding-top: 0
  padding-bottom: 0
  margin-top: 105px
  position: relative
  //z-index: 10
  padding-bottom: 0
  //mix-blend-mode: multiply

  &::before
    // height: 100%
    // position: absolute
    // width: 1px
    // background: #e2e0e4
    // border-left: solid 2px #ffffff
    // border-right: solid 2px #e2e0e4
    // left: 50%
    // content: ''
    // z-index: 0
    display: none

    @media (max-width: 640px)
      display: none

  @media (max-width: 640px)
    margin-top: -130px
    z-index: 20

  .home-lead-title
    position: relative
    z-index: 1

  .col-1
    //padding-top: 130px

    padding-bottom: 0
    @media (max-width: 640px)
      margin-bottom: 0
      overflow-x: hidden
      padding-top: 120px

  .home-lead-box
    margin-bottom: 0
    margin-top: -18px
    padding: 15px 0
    background: #f1f1f1

    .home-lead
      letter-spacing: 15px
      position: relative
      text-align: center
      color: #a3a2a5
      text-shadow: 0 1px 0 #fff
      @media (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm)
        //left: 2px
      @media (max-width: 640px)
        width: 100%
        text-align: center
        font-size: 25px

    .small-home-lead.orange-type
      letter-spacing: 3.5px
      color: $gray
      font-weight: 400
      @media (max-width: 640px)
        width: 100%
        text-align: center
  .clients-logos-strip
    width: 100%
    height: 60px
    background-image: url(../img/clients/clients-strip.jpg)
    background-repeat: repeat no-repeat
    background-size: auto
    background-position-y: center
    position: relative
    z-index: 0
    padding: 35px 0
    background-color: #fff
    box-shadow: 0 0 3px 0px rgb(224, 217, 217), 0 0 20px 8px rgba(0, 0, 0, 0.08)

    &::after
      position: absolute
      height: 70px
      background: linear-gradient(to right, rgba(255,255,255,0.9) 0%,rgba(255,255,255,0.7) 20%,rgba(255,255,255,0.6) 30%,rgba(255,255,255,0) calc(50% - 5px),rgba(255,255,255,0) calc(50% + 5px),rgba(255,255,255,0.6) 70%,rgba(255,255,255,0.7) 80%,rgba(255,255,255,0.9) 100%)
      width: 100%
      top: 0
      content: ''
      z-index: 10
      //opacity: 0.7
      //mix-blend-mode: hard-light
      //-webkit-backdrop-filter: blur(4px)
    &::before
      position: absolute
      height: 70px
      background: linear-gradient(to right, rgba(151, 151, 151,1) 0%,rgba(151, 151, 151,1) 36%,rgba(151, 151, 151,0.7) 40%,rgba(151, 151, 151,0) calc(50% - 5px),rgba(151, 151, 151,0) calc(50% + 5px),rgba(151, 151, 151,0.7) 60%,rgba(151, 151, 151,1) 64%,rgba(151, 151, 151,1) 100%)
      mix-blend-mode: color
      width: 100%
      top: 0
      content: ''

  ul.clients-logos-box
    list-style-type: none
    margin: 0
    padding: 0
    //margin-right: -20px
    display: flex
    flex-direction: row
    justify-content: space-between
    flex-wrap: wrap
    @media (max-width: 640px)
      margin-right: 0

    li
      margin: 15px 0
      box-sizing: border-box
      position: relative
      display: flex
      flex-direction: column
      align-items: center

      @media (max-width: 640px)
        margin: 15px 10px
        flex: 1 2 70px
        justify-content: center


      img
        position: relative
        top: 0
        right: 0

        &:nth-child(1)
          position: relative
          z-index: 0
          opacity: 1

        &:nth-child(2)
          opacity: 0
          filter: grayscale(1)
          position: absolute
          z-index: 1
          transition-delay: 0.2s
          transition: all 1.5s ease-in-out

    li:hover
      img:nth-child(2)
        opacity: 1
        filter: grayscale(0)
        transition-delay: 0s
        transition: all 0.3s ease-in-out

  .col-comments
    padding-top: 0
    position: relative

    @media (max-width: 640px)
      margin-bottom: 0
      box-shadow: 0 -14px 0 3px #f1f1f1
      z-index: -1

    &::before
      position: absolute
      content: ''
      top: -83px
      margin-right: -30px
      width: 330px
      height: 300px
      transform: rotate(8deg)
      background:
        image: url(../img/bubble.svg)
        position: center top
        size: contain
        repeat: no-repeat

      @media (max-width: 640px)
        transform: rotate(0deg)
        margin-right: 0
        margin-top: 0px
        background-image: none
        background-color: #f1f1f1
        width: calc(100% + 10px)
        top: 0
        height: 200px
        box-shadow: inset 0 0 20px -10px #000
        left: -5px

    .client-exc
      font-size: 22px
      color: #f5f5f5
      direction: rtl
      font-weight: 800
      margin-bottom: 10px
      padding-right: 28px
      line-height: 25px
      @media (max-width: 640px)
        padding-right: 0
        color: $orange


    .client-res-about
      color: #b57f2a
      direction: rtl
      padding-right: 28px
      @media (max-width: 640px)
        padding-right: 0
        color: $orange

    .one-time.slider.slick-initialized.slick-slider.slick-dotted
      margin-right: -16px
      margin-top: 20px
      width: 100%
      //padding-right: 40px
      box-sizing: border-box

      @media (max-width: 640px)
        margin: 0 auto !important

      .slick-list.draggable
        @media (max-width: 640px)
          height: 100% !important

      .slick-prev, .slick-next
        top: 138px
        @media (max-width: 640px)
          top: 118px

      .slick-prev
        left: 45px
        z-index: 100


        &::before
          color: #c3892d
          @media (max-width: 640px)
            color: #c1c0c0

      .slick-next
        right: 45px
        z-index: 100
        &::before
          color: #c3892d
          @media (max-width: 640px)
            color: #c1c0c0

      .slick-dots
          display: none !important

      .slick-slide
        position: relative
        padding-top: 0
        padding-right: 0
        box-sizing: border-box
        display: flex
        flex-direction: column
        height: 315px
        justify-content: space-between

        .client-comment
          display: flex
          flex-direction: column
          justify-content: space-between
          height: 100%

        @media (max-width: 640px)
          height: 340px
          padding-left: 0
          text-align: center
          padding: 20px 10px



        .client-pic-info
          display: flex
          flex-direction: row-reverse
          align-items: center
          i.fas.fa-sort-down
            display: none
          //margin-top: 134px
          @media (max-width: 640px)
            flex-direction: column-reverse
            i.fas.fa-sort-down
              display: block
              font-size: 30px
              margin-top: -20px
              top: -8px
              position: relative
              color: #dfdede

          p
            direction: rtl
            color: #a3a2a5
            margin-right: 15px
            margin-top: 12px
            margin-bottom: unset
            @media (max-width: 640px)
              margin: 32px auto
            strong
              display: block
              font-size: 16px

      .client-logo-link:hover
        .client-res-about, .client-pic-info p
          color: $purple






    .slick-slide img
      +size(100px)
      border: solid 3px #cdcdcd
      box-sizing: border-box
      border-radius: 50%

  .cta
    margin-top: -55px
    margin-left: -28px
    width: 100%
    height: 292px
    padding: 20px 0px 0
    background:
      image: url(../img/bubble-bottom.svg)
      position: center top
      size: contain
      repeat: no-repeat
    color: #fff
    position: relative
    @media (max-width: 640px)
      height: 362px
      margin-left: 0
      filter: drop-shadow(1px -3px 0px $dark-purple)

    .one-time-faster
      margin: 0 auto
      letter-spacing: -1px
      font-size: 27px
      font-weight: 900
      text-shadow: 0 2px 2px $dark-purple
      width: 100%
      text-align: center
      font-family: 'Quantico'

    h4
      color: #fff
      text-align: center
      font-size: 16px
      line-height: 23px
      margin: 0 auto
      padding: 0 40px
      font-weight: 400

      &.price
        text-align: center
        margin-right: -10px


        span
          text-decoration: line-through

    .e-mail-thmb
      position: absolute
      left: 39px
      margin-top: -19px
      width: 64px
      height: 97px
      //padding: 20px 0px 0
      background:
        image: url(../img/thmb-mail.png)
        position: center top
        size: contain
        repeat: no-repeat
      color: #5b2a85
      text-align: center
      display: flex
      flex-direction: column
      align-items: center
      justify-content: center
      font-size: 56px
      //transform: rotate(-10deg)
      padding-left: 8px
      filter: grayscale(0)
      transition: all 0.5s ease-in-out
      font-family: 'Bungee Inline', cursive
      font-weight: 100
      text-shadow: 0 1px 0px #ffb74e

      &:hover
        filter: grayscale(1)
        transition: all 0.2s ease-in-out
        color: #000

  .wolking-man
    position: relative
    margin-top: -86px
    padding-right: 50px
    display: flex
    justify-content: flex-end


.clients-bottom
  height: 289px
  width: 100%
  //background: red
  background:
    image: url(../img/clients-bottom.gif)
    size: auto
    repeat: no-repeat
    position-y: top
    position-x: 60%
  margin-top: -235px
  position: relative
  z-index: 0
  bottom: -52px
  @media (max-width: 640px)
    background:
      position-x: 66%


// ---------------------------------
