<!DOCTYPE html>
<html>

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/slick/slick.css"/>
    // Add the new slick-theme.css if you want the default styling

    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/main.css">
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/slick/slick-theme.css"/>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <title>{{ site.data.settings.title }}</title>

  </head>

  <body>

    {{ content }}
    <script src="{{site.baseurl}}/assets/js/functions.js"></script>
    <script src="{{site.baseurl}}/assets/js/lightbox-plus-jquery.min.js"></script>

    <!---slider js- -->

    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="{{site.baseurl}}/assets/slick/slick.min.js"></script>



  </body>

</html>
