
section.youtube
  z-index: 1
  position: relative
.flex.flex--center.dust-box-flex

.dust-box
  margin: -8px 0 -50px
  height: calc(100% + 58px)
  width: 600px
  position: absolute
  content: ""
  background-image: url(../img/dust.png)
  background-repeat: repeat-y
  background-position: center 0px
  background-size: contain
  right: calc(50vw - 300px)
  z-index: 10

.home-sections section.abilities
  padding: 8px 0 50px
  background:
    color: $abilities-section-bg
  position: relative
  height: calc(50vh - 45px)
  z-index: -1
  display: flex
  flex-direction: column
  align-items: center
  @extend .abilities-gra

  .home-lead-title
    position: absolute
    top: 0
    right: 0
    left: 0
    background: rgba(94, 45, 141, 0.77)
    border-bottom: solid 1px rgba(85, 40, 131, 0.5)
    box-shadow: 0 7px 3px -1px rgba(61, 27, 93, 0.4)

  .rocket-section
    //flex-wrap: wrap
    width: 100%
    position: absolute
    top: 0
    right: 0
    left: 0
    z-index: -1

  .col-1
    display: flex
    flex-direction: row
    justify-content: space-between
    width: 100%

  .home-lead-box
    width: 400px
    display: flex
    float: left


    .home-lead
      position: relative
      color: $light-orange
      letter-spacing: 25px
      left: -20px
      @media (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm)
        left: -44px
    .small-lead-box
      margin-right: 35px

    .orange-type
      margin-top: 2px
      color: $light-orange

    .shade-type
      line-height: 0.5
      color: shade($purple, 60%)

  .rocket-box
    min-height: calc(50vh - 45px)

    &::before
      height: 42vh
      position: absolute
      margin-right: -2px
      content: ""
      background:
        image: url(../img/rocket.svg)
        repeat: no-repeat
        position: top center
        size: contain


    h4
      color: $light-orange
      font-weight: 400
      text-align: center
      display: flex
      flex-direction: column-reverse
      background-attachment: fixed
      padding: 0px 11px 18vh
      position: absolute
      bottom: 0
      margin-bottom: 0
      z-index: -1
      position: absolute
      border:
        top-right-radius: 30%
        top-left-radius: 30%


  .col-first
    position: relative
    z-index: 10
    .rocket-box
      &:nth-child(1)
        width: 99px
        &::before
          width: 99px
          top: -3vh

        h4
          @extend .flame-gra1
          height: 31vh
          //bottom: 0px
          line-height: 0

      &:nth-child(2)
        width: 75px
        &::before
          width: 78px
          top: 0

        h4
          @extend .flame-gra2
          height: 32vh
          bottom: 0
          line-height: 0

      &:nth-child(3)
        width: 60px
        margin-left: 12px
        &::before
          width: 62px
          top: -3vh

        h4
          @extend .flame-gra3
          height: 37vh
          bottom: 0
          line-height: 0

  .col-last
    .rocket-box
      &:nth-child(1)
        width: 62px
        &::before
          top: -49vh
          width: 70px

        h4
          @extend .flame-gra4
          height: calc(100vh - 150px)
          bottom: 0
          line-height: 0
          @media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm)
            height: calc(100vh - 150px)
            bottom: 0

      &:nth-child(2)
        width: 164px
        &::before
          width: 121px
          top: -9vh

        h4
          @extend .flame-gra5
          height: 33vh
          bottom: 0
          line-height: 0


      &:nth-child(3)
        width: 62px
        right: -20px
        position: relative
        &::before
          width: 78px
          top: -19vh
          @media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm)
            top: -20vh

        h4
          @extend .flame-gra6
          height: 50vh
          bottom: 0
          line-height: 0




@media (max-width: 640px)
  .home-sections section.abilities
    z-index: 10
    height: calc(50vh + 55px)

    .flex--center
      display: flex
      flex-direction: row
      flex-wrap: wrap

      &.dust-box-flex
        display: none
      //zoom: 0.6

      .col-3
        overflow: hidden
      .col-1
        padding: 0 !important
        width: 50%

        .rocket-box
          margin: 0 0 !important
          transform: scale(0.73)
          width: 33.333%
          right: 0 !important

          h4
            line-height: 6
            top: -60px !important
            @media (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm)
              line-height: 5
              top: -30px !important

      .col-first
        padding-right: 10px
        padding-left: 5px

        .rocket-box

          &:nth-child(1)
            &::before
              top: 80px
              width: 70px
              @media (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm)
                top: 103px
                width: 65px

            h4
              height: 312px
              //line-height: 5
              //font-size: 24px
              @media (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm)
                height: 292px
                //line-height: 5
                //font-size: 24px

          &:nth-child(2)
            &::before
              top: 100px
              width: 70px
              @media (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm)
                top: 120px
                width: 65px

            h4
              height: 274px
              //line-height: 5.5
              //font-size: 22px
              @media (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm)
                height: 300px
                //line-height: 5.5
                //font-size: 22px

          &:nth-child(3)
            &::before
              top: 144px
              width: 72px
              @media (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm)
                top: 149px
                width: 63px

            h4
              height: 222px
              //line-height: 5.3
              //font-size: 23px
              @media (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm)
                height: 272px
                //line-height: 5.3
                //font-size: 23px

      .col-last
        padding-right: 5px
        padding-left: 10px

        .rocket-box
          &:nth-child(1)
            &::before
              top: -143px
              width: 60px
              @media (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm)
                top: -116px
                width: 51px

            h4
              height: 513px
              //top: 0 !important
              //line-height: 5.4
              //font-size: 21px
              @media (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm)
                height: 500px
                //top: 0 !important
                //line-height: 5.4
                //font-size: 21px

          &:nth-child(2)
            width: 120px
            &::before
              top: 71px
              width: 95px
              @media (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm)
                top: 71px
                width: 89px
            h4
              height: 242px
              bottom: 0
              top: 0
              //font-size: 22px
              //line-height: 5.6
              @media (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm)
                height: 272px
                //bottom: 0
                //top: 0
                //font-size: 22px
                //line-height: 5.6

          &:nth-child(3)
            //width: 120px
            &::before
              top: 58px
              width: 56px
              @media (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm)
                top: 57px
                width: 56px
            h4
              height: 320px
              bottom: 0
              //font-size: 22px
              //line-height: 5.9
              @media (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm)
                height: 393px
                bottom: 0
                //font-size: 22px
                //line-height: 5.6



      .rocket-box
        margin: auto
        display: -ms-flexbox
        display: flex
        -ms-flex-direction: column-reverse
        flex-direction: column
        -ms-flex-align: center
        justify-content: flex-end
        margin-top: 120px
        @media (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm)
          margin-top: 100px

      .col-1 h4
        background-attachment: inherit !important
        z-index: -1
        background-size: 100%
        position: relative
        font-size: 90%
        top: -10px !important

      &.home-lead-title
        //zoom: 1
        padding-bottom: 0
        z-index: 10

        .home-lead
          letter-spacing: 20px
          left: -24px
          top: 0px
          position: relative
          @media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm)
            left: -42px
            letter-spacing: 12px

      &.rocket-section
        //zoom: 0.65

      .home-lead-box
        //zoom: 0.9
